Just another notebook to try some text vectorization while the other notebooks are going crazy

In [1]:
import pandas as pd

def load(df):
    return pd.read_parquet(f'../shared_data/{df}.parquet')

X_test, X_train, y_test, t_train = load('X_test'), load('X_train'), load('y_test'), load('y_train')

In [2]:
import preprocessing as p

X_train_text, X_train_numerical = p.split_dataframe(X_train, 'text')
X_test_text, X_test_numerical = p.split_dataframe(X_test, 'text')

In [3]:
display(X_train_text.head())
display(X_train_numerical.head())
display(X_test_text.head())
display(X_test_numerical.head())

                                                     text
133126  Cod (cod, water, sodium tripolyphosphate [to r...
64582   Milk chocolate (sugar, cocoa butter, chocolate...
201417  Soybean oil, water, distilled vinegar, minced ...
113150  Olives, water, bleu cheese (pasteurized cultur...
75357   Cherries, water, sugar, food starch-modified (...

,energy-kcal_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,calcium_100g,iron_100g,other_carbohydrates_100g,other_fat_100g
133126,125.0,2.34,0.0,0.020,1.56,1.6,7.81,0.422,0.031,0.00028,0.75,6.25
64582,484.0,14.52,0.0,0.016,51.61,3.2,6.45,0.097,0.129,0.00116,3.25,14.51
201417,353.0,5.88,0.0,0.000,0.00,0.0,0.00,0.794,0.000,0.00000,0.00,35.30
113150,100.0,0.00,0.0,0.000,0.00,0.0,0.00,1.700,0.200,0.00000,10.00,10.00
75357,106.0,0.00,0.0,0.000,21.18,0.0,0.00,0.012,0.000,0.00042,3.53,0.00

                                                     text
156994  Sugar, partially hydrogenated vegetable shorte...
117668  Beef bites (beef, salt, contains 2% or less of...
47339   Nonfat dry milk, vitamin a palmitate, vitamin d3.
111892                      Cultured milk, salt, enzymes.
90140   Apples, high fructose corn syrup, water, ascor...

,energy-kcal_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,calcium_100g,iron_100g,other_carbohydrates_100g,other_fat_100g
156994,424.0,4.55,6.06,0.000,57.58,0.0,0.00,0.167,0.000,0.00000,9.09,7.57
117668,319.0,10.62,0.88,0.053,4.42,1.8,13.27,0.726,0.221,0.00096,4.40,12.39
47339,348.0,0.00,0.00,0.022,52.17,0.0,34.78,0.543,1.304,0.00000,0.00,0.00
111892,429.0,25.00,0.00,0.107,0.00,0.0,25.00,0.643,0.536,0.00000,3.57,10.71
90140,71.0,0.00,0.00,0.000,15.71,1.4,0.00,0.000,0.000,0.00000,0.75,0.00

In [4]:
X_train_text, X_test_text = p.clean_text_vectorized(X_train_text, 'text'), p.clean_text_vectorized(X_test_text, 'text')

display(X_train_text.head())
display(X_test_text.head())

                                                     text
133126  cod , whole green beans, carrots, yellow carro...
64582   milk chocolate , raspberry filling ,, peanut b...
201417  soybean oil, water, distilled vinegar, minced ...
113150  olives, water, bleu cheese , sea salt, calcium...
75357   cherries, water, sugar, food starch-modified ,...

                                                     text
156994  sugar, partially hydrogenated vegetable shorte...
117668  beef bites , colby cheese , apples with calciu...
47339   nonfat dry milk, vitamin a palmitate, vitamin d3,
111892                      cultured milk, salt, enzymes,
90140   apples, high fructose corn syrup, water, ascor...