Just another notebook to try some text vectorization while the other notebooks are going crazy

In [14]:
import pandas as pd

def load(df):
    return pd.read_parquet(f'../../shared_data/{df}.parquet')

X_test, X_train, y_test, y_train = load('X_test'), load('X_train'), load('y_test'), load('y_train')

In [6]:
import preprocessing as p

X_train_text, X_train_numerical = p.split_dataframe(X_train, 'text')
X_test_text, X_test_numerical = p.split_dataframe(X_test, 'text')

In [7]:
display(X_train_text.head())
display(X_train_numerical.head())
display(X_test_text.head())
display(X_test_numerical.head())

                                                     text
133126  Cod (cod, water, sodium tripolyphosphate [to r...
64582   Milk chocolate (sugar, cocoa butter, chocolate...
201417  Soybean oil, water, distilled vinegar, minced ...
113150  Olives, water, bleu cheese (pasteurized cultur...
75357   Cherries, water, sugar, food starch-modified (...

,energy-kcal_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,calcium_100g,iron_100g,other_carbohydrates_100g,other_fat_100g
133126,125.0,2.34,0.0,0.020,1.56,1.6,7.81,0.422,0.031,0.00028,0.75,6.25
64582,484.0,14.52,0.0,0.016,51.61,3.2,6.45,0.097,0.129,0.00116,3.25,14.51
201417,353.0,5.88,0.0,0.000,0.00,0.0,0.00,0.794,0.000,0.00000,0.00,35.30
113150,100.0,0.00,0.0,0.000,0.00,0.0,0.00,1.700,0.200,0.00000,10.00,10.00
75357,106.0,0.00,0.0,0.000,21.18,0.0,0.00,0.012,0.000,0.00042,3.53,0.00

                                                     text
156994  Sugar, partially hydrogenated vegetable shorte...
117668  Beef bites (beef, salt, contains 2% or less of...
47339   Nonfat dry milk, vitamin a palmitate, vitamin d3.
111892                      Cultured milk, salt, enzymes.
90140   Apples, high fructose corn syrup, water, ascor...

,energy-kcal_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,calcium_100g,iron_100g,other_carbohydrates_100g,other_fat_100g
156994,424.0,4.55,6.06,0.000,57.58,0.0,0.00,0.167,0.000,0.00000,9.09,7.57
117668,319.0,10.62,0.88,0.053,4.42,1.8,13.27,0.726,0.221,0.00096,4.40,12.39
47339,348.0,0.00,0.00,0.022,52.17,0.0,34.78,0.543,1.304,0.00000,0.00,0.00
111892,429.0,25.00,0.00,0.107,0.00,0.0,25.00,0.643,0.536,0.00000,3.57,10.71
90140,71.0,0.00,0.00,0.000,15.71,1.4,0.00,0.000,0.000,0.00000,0.75,0.00

In [8]:
X_train_text, X_test_text = p.clean_text_vectorized(X_train_text, 'text'), p.clean_text_vectorized(X_test_text, 'text')

display(X_train_text.head())
display(X_test_text.head())

                                                     text
133126  cod , whole green beans, carrots, yellow carro...
64582   milk chocolate , raspberry filling ,, peanut b...
201417  soybean oil, water, distilled vinegar, minced ...
113150  olives, water, bleu cheese , sea salt, calcium...
75357   cherries, water, sugar, food starch-modified ,...

                                                     text
156994  sugar, partially hydrogenated vegetable shorte...
117668  beef bites , colby cheese , apples with calciu...
47339   nonfat dry milk, vitamin a palmitate, vitamin d3,
111892                      cultured milk, salt, enzymes,
90140   apples, high fructose corn syrup, water, ascor...

Returning to this notebook after 9 days. Will use transformers on uncleaned text.

In [9]:
X_train

,energy-kcal_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,calcium_100g,iron_100g,text,other_carbohydrates_100g,other_fat_100g
133126,125.0,2.34,0.0,0.020,1.56,1.6,7.81,0.422000,0.031,0.00028,"Cod (cod, water, sodium tripolyphosphate [to r...",0.75,6.25
64582,484.0,14.52,0.0,0.016,51.61,3.2,6.45,0.097000,0.129,0.00116,"Milk chocolate (sugar, cocoa butter, chocolate...",3.25,14.51
201417,353.0,5.88,0.0,0.000,0.00,0.0,0.00,0.794000,0.000,0.00000,"Soybean oil, water, distilled vinegar, minced ...",0.00,35.30
113150,100.0,0.00,0.0,0.000,0.00,0.0,0.00,1.700000,0.200,0.00000,"Olives, water, bleu cheese (pasteurized cultur...",10.00,10.00
75357,106.0,0.00,0.0,0.000,21.18,0.0,0.00,0.012000,0.000,0.00042,"Cherries, water, sugar, food starch-modified (...",3.53,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128990,50.0,0.00,0.0,0.000,8.89,1.1,0.00,0.000000,0.002,0.00000,"Organic apples, ascorbic acid (to maintain col...",3.34,0.00
111787,407.0,3.70,0.0,0.000,44.40,0.0,0.00,0.018500,0.000,0.00000,"Sugars (sugar, glucose syrup [wheat]), Modifie...",44.50,1.86
141747,161.0,2.68,0.0,0.062,1.79,0.0,14.29,0.911000,0.036,0.00129,"Turkey ingredients (turkey, mechanically separ...",5.35,6.25
157940,150.0,0.00,0.0,0.000,0.00,10.0,10.00,0.000000,0.000,0.00360,Cantharellus cibarius.,10.00,0.00
131218,393.0,17.86,0.0,0.107,0.00,0.0,25.00,0.653288,0.714,0.00000,"Pasteurized milk, cheese culture, salt, enzyme...",3.57,14.28

Are there any outliers?

In [10]:
X_train_num = X_train.drop(columns='text')

Q1 = X_train_num.quantile(0.25)
Q3 = X_train_num.quantile(0.75)
IQR = Q3 - Q1

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = ((X_train_num < lower_bound) | (X_train_num > upper_bound)).any(axis=1)
print(f"Number of outliers detected: {outliers.sum()}")

Number of outliers detected: 68246

In [11]:
# Count outliers per column
outliers_per_column = ((X_train_num < lower_bound) | (X_train_num > upper_bound)).sum()

outliers_per_column

energy-kcal_100g               67
saturated-fat_100g          10469
trans-fat_100g               3815
cholesterol_100g            19880
sugars_100g                  7618
fiber_100g                  10593
proteins_100g               10323
sodium_100g                  7427
calcium_100g                12900
iron_100g                    7609
other_carbohydrates_100g     6217
other_fat_100g              11258
dtype: int64

In [12]:
outliers_per_column / X_train_num.shape[0]

energy-kcal_100g            0.000410
saturated-fat_100g          0.064024
trans-fat_100g              0.023331
cholesterol_100g            0.121578
sugars_100g                 0.046589
fiber_100g                  0.064783
proteins_100g               0.063131
sodium_100g                 0.045421
calcium_100g                0.078891
iron_100g                   0.046534
other_carbohydrates_100g    0.038021
other_fat_100g              0.068850
dtype: float64

I think robustscaler is the right choice

In [15]:
from sklearn.preprocessing import RobustScaler
import tensorflow as tf
from transformers import BertTokenizer, TFBertModel

# Define feature columns
num_features = X_train.drop(columns=['text']).columns.tolist()  # 12 numerical features

scaler = RobustScaler()
train_num = scaler.fit_transform(X_train[num_features])
test_num = scaler.transform(X_test[num_features])

# Convert target to NumPy arrays for TensorFlow
y_train = y_train['y_train'].values
y_test = y_test['y_test'].values

In [16]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
bert_model = TFBertModel.from_pretrained('bert-base-uncased')

# Encode text into BERT embeddings
def encode_text(texts):
    inputs = tokenizer(texts.tolist(), padding=True, truncation=True, return_tensors="tf", max_length=512)
    outputs = bert_model(inputs).last_hidden_state[:, 0, :]  # Use CLS token embedding
    return outputs.numpy()

# Convert to BERT embeddings
train_text = encode_text(X_train['text'])
test_text = encode_text(X_test['text'])

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBertModel: ['cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing TFBertModel from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
All the weights of TFBertModel were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

:

So this won't work on my laptop at home. I will try Google Colab and maybe change to bert-tiny instead.